Repository TranHHoang/app: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, core-stylelint, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{js,ts,jsx,tsx,css}"
      run: pnpm eslint {staged_files}
      staged_fixed: true
    core-stylelint:
      root: "packages/core/"
      glob: "*.{jsx,tsx,css}"
      run: pnpm -F @app/core exec stylelint {staged_files}
      staged_fixed: true
    prettier:
      glob: "*.{js,ts,jsx,tsx,css}"
      run: pnpm prettier --check {staged_files} 
      staged_fixed: true

auto-fix:
  commands:
    eslint:
      glob: "*.{js,ts,jsx,tsx,css}"
      run: pnpm eslint --fix {staged_files}
      staged_fixed: true
    core-stylelint:
      root: "packages/core/"
      glob: "*.{jsx,tsx,css}"
      run: pnpm -F @app/core exec stylelint --fix {staged_files}
      staged_fixed: true
    prettier:
      glob: "*.{js,ts,jsx,tsx,css}"
      run: pnpm prettier --write {staged_files}
      staged_fixed: true

Fix incorrect drag handle position on scroll
  packages/core/src/entities/editor-area/ui/EditorArea.tsx
Due: eslint, core-stylelint, prettier

Add divider block
  packages/core/src/entities/blocks/divider/index.ts
  packages/core/src/entities/blocks/divider/lib/dividerNode.ts
  packages/core/src/entities/blocks/divider/ui/Divider.tsx
  packages/core/src/features/drag-block/lib/utils.ts
  packages/core/src/features/insert-block/lib/menuExt.ts
Due: eslint, core-stylelint, prettier

Update InsertBlockMenu props while typing query
  packages/core/src/features/insert-block/lib/menuExt.ts
  packages/core/src/features/insert-block/lib/renderMenu.ts
  packages/tiptap-solid/src/renderer/SolidRenderer.tsx
Due: eslint, prettier

Limit selector specificity to 0,2,0
  packages/core/src/entities/blocks/list/ui/BulletItem.tsx
  packages/core/stylelint.config.js
Due: eslint, core-stylelint, prettier

Remove unused log
  packages/core/src/entities/editor-area/ui/EditorArea.tsx
Due: eslint, core-stylelint, prettier

Add input rules for existing blocks
  packages/core/src/entities/blocks/divider/lib/dividerNode.ts
  packages/core/src/entities/blocks/list/lib/bulletItemNode.ts
  packages/core/src/entities/blocks/list/lib/orderedItemNode.ts
  packages/core/src/entities/blocks/list/lib/taskItemNode.ts
Due: eslint, prettier

Add code block
  .husky/pre-push
  lefthook.yml
  packages/core/eslint.config.js
  packages/core/package.json
  packages/core/src/assets/index.css
  packages/core/src/entities/blocks/code/index.ts
  packages/core/src/entities/blocks/code/lib/codeExt.ts
  packages/core/src/entities/blocks/code/lib/lowlightPlugin.ts
  packages/core/src/entities/blocks/code/lib/utils.ts
  packages/core/src/entities/blocks/code/ui/CodeBlock.tsx
  packages/core/src/entities/blocks/code/ui/theme.css
  packages/core/src/features/drag-block/lib/utils.ts
  packages/core/src/features/insert-block/lib/menuExt.ts
  packages/core/src/features/insert-block/model/menuItems.ts
  packages/core/src/features/misc/lib/placeholder.ts
  packages/core/src/shared/lib/index.ts
  packages/core/src/shared/lib/stringUtils.ts
  packages/core/src/shared/ui/icons/icons.ts
  packages/core/src/shared/ui/menu/SelectBox.tsx
  packages/core/src/shared/ui/menu/index.ts
  pnpm-lock.yaml
Due: eslint, core-stylelint, prettier

Update lefthook pre-push
  .husky/auto-fix
  lefthook.yml
Due: none

Update dependencies
  apps/desktop/package.json
  package.json
  packages/core/package.json
  packages/tiptap-solid/package.json
  packages/vite-plugin-styled-jsx/package.json
  pnpm-lock.yaml
Due: none

Update deps
  apps/desktop/package.json
  package.json
  packages/core/package.json
  packages/tiptap-solid/package.json
  packages/vite-plugin-styled-jsx/package.json
  pnpm-lock.yaml
Due: none
