Repository TranHHoang/app: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, core-stylelint, prettier

eslint:
  run: pnpm eslint {staged_files}
  staged_fixed: true

core-stylelint:
  run: pnpm -F @app/core exec stylelint {staged_files}
  staged_fixed: true

prettier:
  run: pnpm prettier --check {staged_files}
  staged_fixed: true

Add Tiptap editor view
  eslint.config.js
  packages/core/package.json
  packages/core/src/app/App.tsx
  packages/core/src/assets/index.css
  packages/core/src/entities/editor-area/index.ts
  packages/core/src/entities/editor-area/model/extensionStore.ts
  packages/core/src/entities/editor-area/ui/EditorArea.tsx
  packages/core/src/index.tsx
  packages/core/src/shared/Versions.tsx
  packages/core/src/shared/index.ts
  packages/core/src/widgets/text-editor/index.ts
  packages/core/src/widgets/text-editor/ui/TextEditor.tsx
  packages/core/stylelint.config.js
Due: eslint, core-stylelint, prettier

Add basic format text menu
  packages/core/package.json
  packages/core/src/entities/editor-area/index.ts
  packages/core/src/entities/editor-area/lib/tiptap.ts
  packages/core/src/entities/editor-area/ui/EditorArea.tsx
  packages/core/src/features/format-text/index.ts
  packages/core/src/features/format-text/lib/menuExt.ts
  packages/core/src/features/format-text/model/menuItems.ts
  packages/core/src/features/format-text/ui/FormatTextMenu.tsx
  packages/core/src/features/format-text/ui/MenuButton.tsx
  packages/core/src/shared/ui/buttons/MenuButton.tsx
  packages/core/src/shared/ui/buttons/ToggleButton.tsx
  packages/core/src/shared/ui/buttons/index.ts
  packages/core/src/shared/ui/icons/icons.ts
  packages/core/src/shared/ui/icons/index.ts
  packages/core/src/shared/ui/menu/FloatingMenu.tsx
  packages/core/src/shared/ui/menu/index.ts
  packages/core/src/widgets/text-editor/ui/TextEditor.tsx
  packages/core/vite-plugin/index.ts
  packages/core/vite.config.ts
  pnpm-lock.yaml
Due: eslint, core-stylelint, prettier

Add open/save editor content in .html format
  .prettierignore
  apps/desktop/src/main/index.ts
  apps/desktop/src/main/ipc.ts
  apps/desktop/src/preload/index.ts
  apps/desktop/src/renderer/env.d.ts
  apps/desktop/src/renderer/main.ts
  apps/desktop/src/shared/consts.ts
  apps/desktop/src/shared/types.ts
  apps/desktop/tsconfig.json
  eslint.config.js
  packages/core/eslint.config.js
  packages/core/src/app/App.tsx
  packages/core/src/entities/editor-area/ui/EditorArea.tsx
  packages/core/src/env.d.ts
  packages/core/src/index.tsx
  packages/core/src/shared/lib/index.ts
  packages/core/src/shared/lib/platform.ts
  packages/core/tsconfig.json
Due: eslint, core-stylelint, prettier

Lift plugin creation from child menu to parent TextEditor
  eslint.config.js
  packages/core/src/features/format-text/index.ts
  packages/core/src/features/format-text/lib/menuExt.ts
  packages/core/src/features/format-text/ui/FormatTextMenu.tsx
  packages/core/src/widgets/text-editor/ui/TextEditor.tsx
Due: eslint, core-stylelint, prettier

Remove unnecessary signal in EditorArea
  packages/core/src/entities/editor-area/ui/EditorArea.tsx
  packages/core/src/widgets/text-editor/ui/TextEditor.tsx
Due: eslint, core-stylelint, prettier

Manage FormatTextMenu with the extension
  packages/core/src/features/format-text/lib/menuExt.ts
  packages/core/src/features/format-text/ui/FormatTextMenu.tsx
  packages/core/src/widgets/text-editor/ui/TextEditor.tsx
Due: eslint, core-stylelint, prettier

Update dependencies
  apps/desktop/package.json
  package.json
  pnpm-lock.yaml
Due: none

Update ESLint configs & fix ESLint errors
  .prettierignore
  .vscode/settings.json
  apps/desktop/src/main/ipc.ts
  apps/desktop/src/renderer/env.d.ts
  apps/desktop/tsconfig.json
  eslint.config.js
  packages/vite-plugin-styled-jsx/src/css/scopedPlugin.ts
Due: eslint, prettier

Update LICENSE
  LICENSE
Due: none

Add Github workflows
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/validation.yml
  README.md
  apps/desktop/package.json
Due: none

Setup Turborepo for build task
  .gitignore
  apps/desktop/package.json
  package.json
  packages/core/.stylelintignore
  packages/core/package.json
  packages/vite-plugin-styled-jsx/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  turbo.json
Due: none

Update eslint configs to be compatible with Turbo
  .github/workflows/ci.yml
  .github/workflows/validation.yml
  .prettierignore
  README.md
  apps/desktop/electron.vite.config.ts
  apps/desktop/eslint.config.mjs
  apps/desktop/package.json
  eslint.config.js
  package.json
  packages/core/eslint.config.js
  packages/core/package.json
  packages/core/vite.config.ts
  packages/vite-plugin-styled-jsx/eslint.config.js
  packages/vite-plugin-styled-jsx/package.json
  packages/vite-plugin-styled-jsx/src/css/scopedPlugin.ts
  pnpm-lock.yaml
  turbo.json
Due: eslint, prettier

Rename TextEditor to RichTextEditor
  packages/core/src/app/App.tsx
  packages/core/src/widgets/rich-text-editor/index.ts
  packages/core/src/widgets/rich-text-editor/ui/RichTextEditor.tsx
  packages/core/src/widgets/text-editor/index.ts
Due: eslint, core-stylelint, prettier

Add menu plugin after the editor is instantiated
  packages/core/src/features/format-text/lib/menuExt.ts
  packages/core/src/features/format-text/ui/FormatTextMenu.tsx
Due: eslint, core-stylelint, prettier

Update dev task
  apps/desktop/package.json
  package.json
  turbo.json
Due: none

Add basic insert block menu
  packages/core/package.json
  packages/core/src/features/insert-block/index.ts
  packages/core/src/features/insert-block/lib/menuExt.ts
  packages/core/src/features/insert-block/lib/suggestion.ts
  packages/core/src/features/insert-block/model/menuItems.ts
  packages/core/src/features/insert-block/ui/InsertBlockMenu.tsx
  packages/core/src/features/insert-block/ui/MenuButton.tsx
  packages/core/src/shared/ui/buttons/MenuButton.tsx
  packages/core/src/shared/ui/icons/icons.ts
  packages/core/src/shared/ui/menu/FloatingMenu.tsx
  packages/core/src/widgets/rich-text-editor/ui/RichTextEditor.tsx
  pnpm-lock.yaml
Due: eslint, core-stylelint, prettier

Update eslint configs
  eslint.config.js
Due: eslint, prettier

Change clsx from devDeps to deps
  packages/core/package.json
  pnpm-lock.yaml
Due: none

Replace Dynamic with concrete MenuButton
  packages/core/src/features/format-text/ui/FormatTextMenu.tsx
Due: eslint, core-stylelint, prettier

Add prepare scripts for each package
  package.json
  packages/core/package.json
  packages/vite-plugin-styled-jsx/package.json
Due: none

Remove unnecessary explicit function return type
  eslint.config.js
  packages/core/src/entities/editor-area/lib/tiptap.ts
  packages/core/src/features/insert-block/lib/menuExt.ts
  packages/core/src/features/insert-block/lib/suggestion.ts
  packages/vite-plugin-styled-jsx/src/css/scopedPlugin.ts
  packages/vite-plugin-styled-jsx/src/css/trimPlugin.ts
  packages/vite-plugin-styled-jsx/src/index.ts
  packages/vite-plugin-styled-jsx/src/jsx/plugin.ts
Due: eslint, prettier

Add block drag handle
  packages/core/package.json
  packages/core/src/entities/editor-area/ui/EditorArea.tsx
  packages/core/src/features/drag-block/index.ts
  packages/core/src/features/drag-block/lib/dropcursor.ts
  packages/core/src/features/drag-block/lib/handleExt.ts
  packages/core/src/features/drag-block/lib/utils.ts
  packages/core/src/features/drag-block/ui/BlockDragHandle.tsx
  packages/core/src/features/drag-block/ui/dropcursor.css
  packages/core/src/shared/ui/icons/icons.ts
  packages/core/src/widgets/rich-text-editor/ui/RichTextEditor.tsx
  pnpm-lock.yaml
Due: eslint, core-stylelint, prettier

Add placeholder for empty block
  packages/core/package.json
  packages/core/src/features/misc/index.ts
  packages/core/src/features/misc/lib/placeholder.ts
  packages/core/src/features/misc/ui/placeholder.css
  packages/core/src/widgets/rich-text-editor/ui/RichTextEditor.tsx
  pnpm-lock.yaml
Due: eslint, core-stylelint, prettier

Update block styles
  packages/core/src/entities/editor-area/ui/EditorArea.tsx
  packages/core/src/features/insert-block/lib/menuExt.ts
  packages/core/src/features/insert-block/ui/MenuButton.tsx
  packages/core/src/features/insert-block/ui/tiptap.css
Due: eslint, core-stylelint, prettier

Rename cleanup function and containing file
  packages/core/src/features/insert-block/lib/menuExt.ts
  packages/core/src/features/insert-block/lib/renderMenu.ts
Due: eslint, prettier

Add task list block
  packages/core/package.json
  packages/core/src/entities/blocks/task-list/index.ts
  packages/core/src/entities/blocks/task-list/lib/taskListExt.ts
  packages/core/src/entities/blocks/task-list/ui/taskList.css
  packages/core/src/features/drag-block/lib/utils.ts
  packages/core/src/features/insert-block/lib/menuExt.ts
  packages/core/src/features/insert-block/model/menuItems.ts
  packages/core/src/shared/ui/icons/icons.ts
  pnpm-lock.yaml
Due: eslint, core-stylelint, prettier

Fix line wrap
  packages/core/src/features/drag-block/lib/dropcursor.ts
  packages/core/src/features/drag-block/lib/handleExt.ts
  packages/core/src/features/drag-block/lib/utils.ts
Due: eslint, prettier

Turn on eslint/no-unsafe-argument
  eslint.config.js
Due: eslint, prettier

Fix drag handle position for ul, ol element
  packages/core/src/features/drag-block/lib/handleExt.ts
  packages/core/src/features/insert-block/ui/tiptap.css
Due: eslint, core-stylelint, prettier

Move prepare scripts to root package.json
  package.json
  packages/core/package.json
  packages/vite-plugin-styled-jsx/package.json
Due: none

Add option to run all linting scripts concurrently
  .github/workflows/validation.yml
  package.json
  turbo.json
Due: none

Switch to custom component render function
  packages/core/src/features/drag-block/lib/handleExt.ts
  packages/core/src/features/format-text/lib/menuExt.ts
  packages/core/src/features/insert-block/lib/renderMenu.ts
  packages/core/src/features/insert-block/ui/InsertBlockMenu.tsx
  packages/core/src/shared/lib/index.ts
  packages/core/src/shared/lib/render.ts
Due: eslint, core-stylelint, prettier

Switch to custom tiptap-solid package
  eslint.config.js
  packages/core/eslint.config.js
  packages/core/package.json
  packages/core/src/entities/editor-area/index.ts
  packages/core/src/features/format-text/ui/MenuButton.tsx
  packages/tiptap-solid/LICENSE
  packages/tiptap-solid/README.md
  packages/tiptap-solid/eslint.config.js
  packages/tiptap-solid/package.json
  packages/tiptap-solid/src/editor.ts
  packages/tiptap-solid/src/index.ts
  packages/tiptap-solid/src/renderer/NodeViewContent.tsx
  packages/tiptap-solid/src/renderer/NodeViewRenderer.tsx
  packages/tiptap-solid/src/renderer/NodeViewWrapper.tsx
  packages/tiptap-solid/src/renderer/ReactiveOwner.ts
  packages/tiptap-solid/src/renderer/SolidRenderer.tsx
  packages/tiptap-solid/src/renderer/useSolidNodeView.ts
  packages/tiptap-solid/tsconfig.json
  packages/tiptap-solid/vite.config.ts
  pnpm-lock.yaml
Due: eslint, core-stylelint, prettier

Replace custom render function with SolidRenderer
  lefthook.yml
  packages/core/src/assets/index.css
  packages/core/src/features/drag-block/lib/handleExt.ts
  packages/core/src/features/format-text/lib/menuExt.ts
  packages/core/src/features/insert-block/lib/renderMenu.ts
  packages/core/src/shared/lib/index.ts
  packages/core/src/shared/lib/render.ts
  packages/tiptap-solid/src/renderer/NodeViewRenderer.tsx
  packages/tiptap-solid/src/renderer/SolidRenderer.tsx
  packages/tiptap-solid/src/renderer/reactiveOwner.ts
Due: eslint, core-stylelint, prettier

Remove SolidRenderer wrapper element
  packages/core/src/features/drag-block/lib/handleExt.ts
  packages/tiptap-solid/src/renderer/NodeViewRenderer.tsx
  packages/tiptap-solid/src/renderer/SolidRenderer.tsx
Due: eslint, prettier

Remove redundant custom NodeView wrapper
  packages/tiptap-solid/src/renderer/NodeViewRenderer.tsx
Due: eslint, prettier

Remove unused NodeViewWrapper
  packages/tiptap-solid/src/renderer/NodeViewWrapper.tsx
Due: eslint, prettier

Update type signature for NodeViewContent
  packages/tiptap-solid/src/renderer/NodeViewContent.tsx
Due: eslint, prettier

Replace built-in list views with custom views
  packages/core/src/entities/blocks/list/index.ts
  packages/core/src/entities/blocks/list/lib/bulletItemNode.ts
  packages/core/src/entities/blocks/list/lib/bulletListNode.ts
  packages/core/src/entities/blocks/list/lib/listItemNode.ts
  packages/core/src/entities/blocks/list/lib/listNode.ts
  packages/core/src/entities/blocks/list/lib/orderedItemNode.ts
  packages/core/src/entities/blocks/list/lib/orderedListNode.ts
  packages/core/src/entities/blocks/list/lib/taskItemNode.ts
  packages/core/src/entities/blocks/list/lib/taskListNode.ts
  packages/core/src/entities/blocks/list/ui/BulletItem.tsx
  packages/core/src/entities/blocks/list/ui/List.tsx
  packages/core/src/entities/blocks/list/ui/OrderedItem.tsx
  packages/core/src/entities/blocks/list/ui/TaskItem.tsx
  packages/core/src/entities/blocks/task-list/index.ts
  packages/core/src/entities/blocks/task-list/lib/taskListExt.ts
  packages/core/src/entities/blocks/task-list/ui/taskList.css
  packages/core/src/entities/editor-area/ui/EditorArea.tsx
  packages/core/src/features/drag-block/lib/handleExt.ts
  packages/core/src/features/drag-block/lib/utils.ts
  packages/core/src/features/insert-block/lib/menuExt.ts
  packages/core/src/shared/ui/icons/icons.ts
  packages/tiptap-solid/src/index.ts
Due: eslint, core-stylelint, prettier

Remove unused packages
  packages/core/package.json
  pnpm-lock.yaml
Due: none

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx,css}
  core-stylelint: any of: *.{jsx,tsx,css} and ^packages/core/
  prettier: any of: *.{js,ts,jsx,tsx,css}
